.products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    width: 80%;
    margin: var(--spacing-large) auto;
    max-width: 1200px;
}

.products-element{
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    padding: 20px 25px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    /* justify-content: end; */
}

.products-element__name{
    margin-bottom: auto;
    font-weight: bold;
}

.products-element__img{
    width: 100%;
    height: 270px;
    object-fit: contain;
    text-align: center;
    margin-top: var(--spacing-medium);
}

.products-element__price{
    color: var(--color-unaccent);
    margin-top: var(--spacing-medium);
}

.products-element__btn{
    width: 100%;
    outline: none;
    background: none;
    padding: var(--spacing-small) var(--spacing-large);
    border: 1px solid var(--color-unaccent);
    border-radius: var(--border-radius);
    margin-top: var(--spacing-medium);
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}

.products-element__btn_active{
    border: 1px solid transparent;
    background-image: var(--linear-gradient);
    /* почему не все стили */
}